<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VueCRUD</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="myapp">
       
       
<!--       Showing all users --------------------------------------------->
        <div class="container">
            <h1 class="fleft">Users</h1>
            <button class="fright addNew" @click="showingAddModal=true">Add New</button>
            <div class="clear"></div>
            <hr>
            <p class="successMessage" v-if="successMessage">{{successMessage}} <button @click="clearMessage();">Clear Message</button></p>
            <p class="errorMessage" v-if="errorMessage">{{errorMessage}} <button @click="clearMessage();">Clear Message</button></p>
            <table class="list">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td><button @click="showingEditModal=true; selectUser(user);">Edit</button></td>
                    <td><button @click="showingDeleteModal=true; selectUser(user);">Delete</button></td>
                </tr>
            </table>
        </div>

        <!--Showing add model form    -->

        <div class="modal" id="addModal" v-if="showingAddModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Add New User </p>
                    <button class="fright crossBox" @click="showingAddModal=false">x</button>
                    <div class="clear"></div>

                </div>
                <div class="modalContent">
                    <form>
                        <label for="">Name: </label>
                        <input type="text" placeholder="Jhon" v-model="newUser.username"><br><br>
                        <label for="">Email: </label>
                        <input type="text" placeholder="jhon@jhon.com" v-model="newUser.email"><br><br>
                        <label for="">Phone: </label>
                        <input type="text" placeholder="1225xxxx" v-model="newUser.phone"><br><br>
                    </form>
                    <button @click="showingAddModal=false; saveUser();">Submit</button>
                </div>
            </div>
        </div>
        <!--End of Add Model Form-->

        <!--Starting of Edit Model Form   -->
        <div class="modal" id="editModal" v-if="showingEditModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Edit Username </p>
                    <button class="fright crossBox" @click="showingEditModal=false">x</button>
                    <div class="clear"></div>

                </div>
                <div class="modalContent">
                    <form>
                        <label for="">Name: </label>
                        <input type="text" v-model="clickedUser.username"><br><br>
                        <label for="">Email: </label>
                        <input type="text"  v-model="clickedUser.email"><br><br>
                        <label for="">Phone: </label>
                        <input type="text"  v-model="clickedUser.phone"><br><br>
                    </form>
                    <button @click="showingEditModal=false; updateUser();">Update</button>
                </div>
            </div>
        </div>
        <!--End of Edit Model Form-->


        <!--Starting of Delete Model Form   -->
        <div class="modal" id="deleteModal" v-if="showingDeleteModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Are you sure ?</p>
                    <button class="fright crossBox" @click="showingDeleteModal=false">x</button>
                    <div class="clear"></div>

                </div>
                <div class="modalContent">
                    <p>You Want To Delete User: "<b>{{clickedUser.username}}</b>"</p><br>
                    <button @click="showingDeleteModal=false; deleteUser();">Yes</button>
                    <button @click="showingDeleteModal=false">No</button>
                </div>
            </div>
        </div>
        <!--End of Delete Model Form-->



    </div>
    <!--End of ID -->


    <script type="text/javascript" src="axios.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>