*{
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    margin: auto;
    margin-top: 44px;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.clear{
    clear: both;
}

h1{
    font-size: 22px;
}

.addNew{
    padding: 2px 9px;
}

table.list{
    width: 100%;
    margin-top: 33px;
}
table.list th{
    background: #0E5196;
    color:#ece9e9;
    padding: 9px;
}

table.list td{
    padding: 9px;
    text-align: center;
}
table.list tr{
    background: #EEEEEE;
}

button{
    padding: 2px 9px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.4);
}

.modalContainer{
    width: 550px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 44px;
}

.modalHeading{
    padding: 9px;
    background: #0654a6;
    color: aliceblue;
    font-weight: bold;
}

.modalContent{
    min-height: 330px;
    padding: 44px;
<<<<<<< HEAD
}

.crossBox{
    padding: 2px 6px;
    background: red;
    border: none;
    color: #FFFFFF;
}


input{
    padding: 5px;
=======
>>>>>>> 1e8ba9af5c115615b185792f8f81826a431fdf0b
}